.list {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 0.75rem 0;
  overflow: hidden;
}
.list-item {
  display: flex;
  padding: 0.5rem 0.875rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  line-height: 1.25;
}
.dark .list,
.dark .list-item {
  background-color: transparent;
  border-color: hsl(214, 5%, 40%);
}
.list-item:last-child {
  border-bottom: none;
}
a.list-item:hover {
  background-color: #f8f8f8;
}
.dark a.list-item:hover {
  background-color: hsl(214, 5%, 18%);
}
a.list-item:focus {
  background-color: #ebebeb;
}
.dark a.list-item:focus {
  background-color: hsl(214, 5%, 25%);
}
.list-item-text {
  flex: 1 1 auto;
}
.p-name {
  color: #000;
}
.dark .p-name {
  color: hsl(214, 12%, 92%);
}
.p-username {
  color: #444;
  font-weight: bold;
  font-size: 0.875rem;
}
.dark .p-username {
  color: hsl(214, 6%, 64%);
}
.list-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item-actions button {
  margin-left: 0.25rem;
}
