.loader {
  margin: 0 auto;
  border: 0.25rem solid #1471eb;
  border-top: 0.25rem solid #eee;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
.dark .loader {
  border-top: 0.25rem solid hsl(214, 6%, 60%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
