section {
  padding: 1rem 1rem 4rem;
  max-width: 30rem;
  margin: 0 auto;
}
header {
  margin-bottom: 0.5rem;
}
h1,
h2,
p {
  margin: 0;
  font-weight: 400;
}
h1 {
  font-size: 1.5rem;
  font-size: 1.25rem;
}
h2 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #444;
}
.dark h2 {
  color: hsl(214, 6%, 64%);
}
hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.dark hr {
  border-color: hsl(214, 5%, 40%);
}
a {
  text-decoration: none;
  color: #1471eb;
  outline: none;
}
.dark a {
  color: hsl(214, 100%, 64%);
}
.button,
button {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.0125rem;
  padding: 0.35rem 0.6rem 0.45rem;
  border-radius: 0.4rem;
  background-color: transparent;
  border: 1px solid #aaa;
  color: #444;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0;
}
.dark button,
.dark .button {
  border-color: hsl(214, 5%, 40%);
  color: hsl(214, 10%, 88%);
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  text-decoration: none;
  border-color: #555;
  color: #000;
}
.dark button:hover,
.dark .button:hover,
.dark button:focus,
.dark .button:focus {
  background-color: hsl(214, 6%, 18%);
  border-color: hsl(214, 1%, 75%);
  color: hsl(214, 10%, 88%);
}
.primary,
.dark .primary {
  color: #fff;
  border-color: hsl(214, 84%, 50%);
  background-color: hsl(214, 84%, 50%);
}
.primary:hover,
.primary:focus {
  color: #fff;
  border-color: #125ece;
  background-color: #125ece;
}
.dark .primary:hover,
.dark .primary:focus {
  color: #fff;
  border-color: hsl(214, 90%, 56%);
  background-color: hsl(214, 90%, 56%);
}
button:disabled,
button:disabled:hover,
button:disabled:focus {
  cursor: not-allowed;
  background-color: #eee;
  border-color: #aaa;
  color: #777;
}
.dark button:disabled,
.dark button:disabled:hover,
.dark button:disabled:focus {
  background-color: hsl(214, 6%, 25%);
  border-color: hsl(214, 6%, 40%);
  color: hsl(214, 6%, 60%);
}
label {
  display: block;
  margin: 0.75rem 0 0.5rem;
}
input,
textarea,
select {
  display: block;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  width: 100%;
  margin: 0.25rem 0;
}
.dark input,
.dark textarea,
.dark select {
  background-color: transparent;
  border-color: hsl(214, 5%, 40%);
  color: hsl(214, 12%, 92%);
  fill: hsl(214, 12%, 92%);
}
input:hover,
textarea:hover,
select:hover {
  border-color: #bbb;
}
.dark input:hover,
.dark textarea:hover,
.dark select:hover {
  border-color: hsl(214, 5%, 50%);
}
input:focus,
textarea:focus,
select:focus {
  border-color: #999;
}
.dark input:focus,
.dark textarea:focus,
.dark select:focus {
  border-color: hsl(214, 5%, 60%);
}
textarea {
  resize: none;
  height: auto;
  line-height: 1.15;
  padding: 0.35rem 0.55rem;
}
.flex-parent {
  display: flex;
}
.flex-fill {
  flex: 1 1 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-right {
  text-align: right;
}
.central,
.empty {
  margin: 1rem 0;
  text-align: center;
}
.helper {
  font-size: 0.875rem;
  line-height: 1;
  align-self: center;
}
p.helper {
  margin-bottom: 0.5rem;
}
.error {
  color: #820014;
}
.dark .error {
  color: #ffa39e;
}
.valid {
  color: #237804;
}
.dark .valid {
  color: #b7eb8f;
}
.extra-text {
  display: none;
}
.subheading {
  padding-left: 0.125rem;
  font-weight: bold;
  font-size: 0.875rem;
}
.new-moment {
  margin: 1rem 0 2rem;
}
.name-editor {
  padding: 0.25rem 1rem 1rem;
  min-width: 16rem;
}
.hide {
  display: none;
}
@media (min-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
  .extra-text {
    display: inline;
  }
}
