html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(214, 8%, 99%);
  color: hsla(214, 16%, 8%, 0.96);
  box-sizing: border-box;
  font-weight: normal;
  font-kerning: normal;
  line-height: 1.5;
}
body.dark {
  background-color: hsl(214, 6%, 12%);
  color: hsl(214, 12%, 92%);
}
